.left-panel{
    display: inline-block;
    width: 50%;
    padding:10px 50px;
}
.right-panel{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding:10px 50px;
}

@media (max-width: 800px) {
    .left-panel{
        width:100%;
    }
    .right-panel{
        width:100%;
    } 
}